<!-- Nav Item - Dashboard -->



<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Interface
</div>

<!-- Nav Item - Pages Collapse Menu -->

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
        <i class='fas fa-user-cog text-white' style='font-size:25px'></i>
        <span>Management Table</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            @if (User.IsInRole(RoleType.Admin))
            {
                <a class="collapse-item" href="/Customer/Create">
                    <i class='fas fa-user-plus mr-2' style='font-size:20px'></i>
                    <span>Customer Details</span>
                    
                </a>
                <a class="collapse-item " asp-area="" asp-controller="Customer" asp-action="ShowList">
                    <i class='fas fa-clipboard-list mr-2' style='font-size:20px '></i><span>Information Manage</span>
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Customer" asp-action="Invoice">
                    <i class='fas fa-file mr-2' style='font-size:20px'></i>
                    <span>Generate Report</span>

                </a>
                <a class="collapse-item" asp-area="" asp-controller="Customer" asp-action="addproduct">
                    <i class='fas fa-file-upload mr-1' style='font-size:20px'></i>
                    <span>Percel File </span>
                </a>

                <a class="collapse-item " href="/Customer/Assign">
                    <i class='fas fa-clipboard-list mr-2' style='font-size:20px '></i><span>Order Assign</span>
                </a>
                <a class="collapse-item " href="/Customer/UpdateStatus">
                    <i class='fas fa-clipboard-list mr-2' style='font-size:20px '></i><span>Update Status</span>
                </a>
            }


            @if (User.IsInRole(RoleType.S_Admin))
            {
                <a class="collapse-item" asp-area="" asp-controller="Customer" asp-action="CreateLookup">
                    <i class="fa fa-table mr-2" style="font-size:20px"></i><span>Lookup</span>
                </a>
                <a class="collapse-item " asp-area="" asp-controller="Customer" asp-action="ShowList">
                    <i class='fas fa-clipboard-list mr-2' style='font-size:20px '></i><span>Information Manage</span>
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Customer" asp-action="Invoice">
                    <i class='fas fa-file mr-2' style='font-size:20px'></i>
                    <span>Generate Report</span>

                </a>
                <a class="collapse-item" asp-area="" asp-controller="Customer" asp-action="addproduct">
                    <i class='fas fa-file-upload mr-1' style='font-size:20px'></i>
                    <span>Percel File </span>
                </a>
                <a class="collapse-item " href="/Customer/Assign">
                    <i class='fas fa-clipboard-list mr-2' style='font-size:20px '></i><span>Order Assign</span>
                </a>
                <a class="collapse-item " href="/Customer/UpdateStatus">
                    <i class='fas fa-clipboard-list mr-2' style='font-size:20px '></i><span>Update Status</span>
                </a>
            }

               
            
                
        </div>
    </div>
</li>



<!-- Divider -->
<hr class="sidebar-divider">
@*
<!-- Heading -->
<div class="sidebar-heading">
    Addons
</div>

<!-- Nav Item - Charts -->
<li class="nav-item">
    <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
 *@