@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Courier Management System</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/assets/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->


</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/assets/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="index.html">Home </a>
        <a href="#about">About</a>
        <a href="#service">Services  </a>
        <a href="#contact">Contact</a>
    </div>
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="col-md-12 col-sm-12">
                    <div class="right_bottun">
                        <ul class="conat_info d_none  ">
                            <li><a class="text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                            <li><a class="text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                        </ul>
                        <button class="openbtn" onclick="openNav()"><img src="images/menu_icon.png" alt="#" /> </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->
    <!-- banner -->
    <section class="banner_main">
        <div id="banner1" class="carousel slide banner_slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner1" data-slide-to="0" class="active"></li>
                <li data-target="#banner1" data-slide-to="1"></li>
                <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-7 col-lg-5">
                                    <div class="text-bg">
                                        <h1>Courier Management System</h1>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="ban_track">
                                                <figure><img src="images/track.png" alt="#" /></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner -->
    <!-- about section -->
    <div id="about" class="about ">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="about_right">
                        <figure><img src="images/about.png" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="titlepage">
                        <h2>About Us</h2>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, There
                        </p>
                        <a class="read_more" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section -->
    <!-- service section -->
    <div id="service" class="service">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="titlepage">
                        <h2>Our Services</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, There </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="service_main">
                        <div class="service_box blu_colo">
                            <i><img src="images/ser1.png" alt="#" /></i>
                            <h4>FLY ANYWHERE</h4>
                        </div>
                        <div class="service_box yelldark_colo">
                            <i><img src="images/ser2.png" alt="#" /></i>
                            <h4>Cargo service</h4>
                        </div>
                        <div class="service_box yell_colo">
                            <i><img src="images/ser3.png" alt="#" /></i>
                            <h4> COURIER SERVICES</h4>
                        </div>
                        <div class="service_box yelldark_colo">
                            <i><img src="images/ser4.png" alt="#" /></i>
                            <h4>BOX STORAGE</h4>
                        </div>
                        <div class="service_box yell_colo">
                            <i><img src="images/ser5.png" alt="#" /></i>
                            <h4>100% safe</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end service section -->
    <!--  footer -->
    <footer>
        <div class="footer bottom_cross1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="location_icon">
                            <li>
                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Address : Lorem Ipsum <br> is simply dummy
                            </li>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>Phone :  +(1234) 567 890</li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>Email : demo@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div class="map">
                            <figure><img src="images/map.png" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>© 2024 All Rights Reserved. Design by<a href="https://html.design/"> ABD Prvt Limited</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script>
        function openNav() {
          document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
          document.getElementById("mySidepanel").style.width = "0";
        }
    </script>
</body>
</html>


